

<!-- Full screen background image on search page -->
<div id="bgimgcontainer">
    <%= image_tag("Altadena_littlehouse_1900_wide.jpg", :id => "bgimg") %>
</div>

<!-- Architectural Database box with select input and search button -->
<div id="ahadsubtitlebox">
	<div id="ahadsubtitle">Architectural Database
		<div id="inputcontainer">
			<div id="textboxcontainer">
				<select id="inputid">
					<option></option>
				</select>
			</div>

			<div id="buttoncontainer"><button id="buttonid" class="button" type="button" onclick="static_pages_root_search_clicked()">
				<span id="buttontext">Search </span></button>
			</div>
		</div>
	</div>
</div>

Properties path: 
<%= properties_path %>

