<% provide(:title, 'All Users') %>

<%= render "layouts/header" %>

<div class="text-center top-padding-to-miss-navbar">
  <h1>All Users</h1>
</div>

<div class="ui-left-margin">
  <%= paginate @users %>
</div>

<div id="ui-padded-sides">
  <ul class="users">
    <%= render @users %>
  </ul>
</div>

<div class="ui-left-margin">
  <%= paginate @users %>
</div>
