        <div class="nested-fields">
          <%= f.label :chrs_code %>
          <%= f.text_field :chrs_code, :maxlength => 20 %>

          <%= link_to_remove_association "Remove Above CHRS Code", f %>
        </div>