// Place all the styles related to the advanced search view here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#as_yearbuilt_to_year_container {
  visibility: hidden;
}

#tbl_adv_search_results {
  border: 1px solid black;
  font-size: 10pt;
  margin: 10px;    

  thead {
    text-align:center;
  }
  
  tr, td, th {
    border: 1px solid black;
    padding: 3px;
  }
  
  tr:nth-child(even) {background: #EEE}
  tr:nth-child(odd) {background: #FFF}

}

#adv_search_results {
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 100px;
}

