<div id="app-layout-top-spacer"> </div>

<header class="navbar"> <!-- navbar-fixed-top navbar-inverse -->
  <div class="container">
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <li><%= link_to "Search", hackbouncer_path %></a></li>
        <% if logged_in? %>
          <li><a href="#!">Users</a></li>
          <li><a href="#!">Account</a>
            <ul class="nav-dropdown">
              <li><a href="#!">Profile</a></li>
              <li><a href="#!">Settings</a></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
</div>
</header>